%h4.span4.offset1
	= link_to 'Commandes', commandes_liste_path
%h4.span4  
	= link_to 'Catégories', liste_categories_path
%h4.span3
	= link_to 'Articles', liste_articles_path
%h4.span3.offset1
	= link_to 'Sauces', sauce_liste_path
%h4.span4
	= link_to 'Paramètres Restaurateur', parametre_path